.foto1 {
  display: flex;
  gap: 40px;  /* відстань між картинками*/
  justify-content: center; /* центрує картинки */
}

.foto1 img{
  width: 130px; /* фіксована ширина картинки.*/
  height: auto; /*автоматична висота, щоб зберегти пропорції зображення.*/
  border-radius: 10px; /*заокруглення кутів картинки на 10 пікселів.*/
  height: 250px;
    width: auto;
                                                             
  max-width: none;                                           
  max-height: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*додає тінь навколо картинки:*/


  transition: transform 0.7s ease;
}

.foto1 img:hover {
  transform: scale(1.1); /*зображення збільшується на 10% (масштабується).*/
}

.h1 {
  color: #e20000;
  text-shadow: 1px 4px 5px #5c5052; 
  text-align: center;
  font-size: 30px;
}

.text {
  font-size: 30px;
  text-align: center;
  color: #1a0202;
  margin-top: 20px;
  text-shadow: none 1px 4px 5px #5c5052;
}

.gif {
  width: 200px;        
  display: block;
  margin: 0 auto;
  height: auto;
}